* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Georgia, serif;
}


body {
    background-color: rgb(90, 106, 250);
}

.div-titulo {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Georgia, serif;
}

.div-titulo h1 {
    font-weight: 300;
}

.contenedor {
    width: 100%;
    height: calc(100vh - 100px);
    display: flex;
    justify-content: center;
    font-family: Georgia, serif;
}

/* ESTILOS FORMULARIO */
.contenedor .div-formulario {
    width: 30%;
    height: 400px;
    margin: 15px 15px;
    background-color: rgb(98, 191, 245);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: 10px 10px rgba(0, 0, 0, 0.3);
    font-family: Georgia, serif;
}

.contenedor .div-formulario h2 {
    margin-top: 10px;
    font-weight: 300;
    font-size: 2em;
    color: rgb(255, 255, 255);
}

.contenedor .div-formulario form {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Georgia, serif;
}

.contenedor .div-formulario form input,
.contenedor .div-formulario form button {
    width: 60%;
    padding: 10px 10px;
    margin: 10px 10px;
}

/* ESTILOS LISTADO */
.contenedor .div-listado {
    width: 55%;
    height: calc(82.5% - 50px);
    margin: 15px 15px;
    background-color: rgb(216, 241, 223);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    box-shadow: 10px 10px rgba(5, 0, 0, 0.3);
    font-family: Georgia, serif;
}

.contenedor .div-listado h3 {
    margin-top: 10px;
    font-weight: 300;
    font-size: 2em;
    color: rgb(0, 0, 0);
}

.contenedor .div-listado .div-estudiantes {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 15px;
    padding: 0 30px;
    font-family: Georgia, serif;
}

.contenedor .div-listado .div-estudiantes p {
    margin: 10px 0;
    font-size: 1em;
    color: #000000;
}

hr {
    width: 100%;
    height: 1px;
}

.btn {
    width: 18%;
    padding: 5px 10px;
    border: none;
    margin: 0 5px;
    color: white;
    border-radius: 50px;
}

.btn-editar {
    padding: 5px 10px;
    border: none;
    margin: 0 5px;
    color: white;
    border-radius: 50px;
    background-color: rgb(0, 128, 0);
    font-family: Georgia, serif;
}

.btn-eliminar {
    padding: 5px 10px;
    border: none;
    margin: 0 5px;
    color: white;
    border-radius: 50px;
    background-color: rgb(155, 0, 0);
    font-family: Georgia, serif;
}
.btn-contiuar{
     padding: 5px 10px;
    border: none;
    margin: 0 5px;
    color: white;
    border-radius: 50px;
    background-color: rgb(128, 0, 0);
    font-family: Georgia, serif;
}

body {
    justify-content: center;
    height: 100vh;
    
}

h2 {
    text-align: center;
}
h1 {
    font-weight: bold;
  }